<mat-form-field class="filter">
  <input
    matInput (keyup)="applyFilter($event.target.value)"
    placeholder="Ozone">
    <mat-hint>Type the name or type of the sensor</mat-hint>
</mat-form-field>

<cdk-virtual-scroll-viewport [tvsItemSize]="50" class="wrapper mat-elevation-z2">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <!-- Name Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="sensor_type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Sensor type </th>
      <td mat-cell *matCellDef="let element"> {{element.sensor_type}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="reading">
      <th mat-header-cell *matHeaderCellDef> reading</th>
      <td mat-cell *matCellDef="let element"> {{element.reading}} {{ element.unit }} ({{ element.range_l }} to {{ element.range_u }}) </td>
    </ng-container>
    <ng-container matColumnDef="reading_ts">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header> Date</th>
      <td mat-cell *matCellDef="let element"> {{ element.reading_ts | date:"medium" }}</td>
    </ng-container>

    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header> Location</th>
      <td mat-cell *matCellDef="let element">
        <button mat-button (click)="seeOnMap(element)"> See on map</button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</cdk-virtual-scroll-viewport>
